:root {
  --dark-purple: #5e4fc1;
  --yellow: #e9c939;
  --light-purple: #6a75ba;
  --pink: #d4426f;
}
html {
  box-sizing: border-box;
}
body {
  color: white;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(243.18deg, #0c05e7 0%, #9b2fcd 100%);
}
