.parent {
  display: flex;
  height: 100%;
}
.containerLeft {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
.containerLeftInner {
  width: 90%;
  height: 90%;
}
.containerRight {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.074);
  width: 35%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.mainWeather {
  width: 143px;
  height: 100px;
}
.tempToggle {
  color: white;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  border-radius: 100px;
  height: 50px;
  width: 120px;
  background: rgba(255, 255, 255, 0.16);
  display: flex;
}
.tempToggle:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 50px;
  background: rgba(196, 196, 196, 0.25);
  opacity: 0.5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
}
.currentWeather {
  display: flex;
}
.currentTemp {
  font-weight: 100;
  font-size: 164px;
}
.cOrF {
  font-weight: 400;
  font-size: 70px;
}
.date {
  line-height: 120%;
  font-weight: 300;
  font-size: 40px;
}
.dayAndTime {
  display: flex;
  gap: 10px;
  align-items: center;
}
.day {
  font-size: 36px;
  font-weight: 300;
}
.time {
  font-size: 50px;
  font-weight: 300;
}

.weatherConditions {
  font-weight: 300;
  font-size: 22px;
  align-items: center;
  gap: 5px;
  display: flex;
}
.weatherConditions > section {
  align-items: center;
  gap: 10px;
  display: flex;
}
.weatherConditions > section > img {
  width: 16.5px;
  height: 19.92px;
}
.verticalLine {
  margin: 0rem 1rem;
  border-radius: 5px;
  height: 17px;
  background-color: white;
  width: 2px;
}
.cardContainer {
  font-size: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 210px;
  background: rgba(214, 214, 214, 0.4);
  box-shadow: 3px -2px 14px -1px rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
